.container,
.vertical-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $light-grey;
  .column {
    display: flex;
    align-items: center;
    .user {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .username {
        font-weight: 600;
        margin-bottom: 3px;
      }
      .name {
        font-size: $small-font-size;
        color: $dark-grey;
      }
    }
    .bigAvatar {
      width: 55px;
      border-radius: 50%;
    }
    .avatar {
      width: 30px;
      border-radius: 50%;
      border: 1px solid $dark-grey;
    }
    .button {
      @include blueButton();
    }
    .white-button {
      @include whiteButton();
    }
  }
}

.vertical-container {
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-right: 5%;
  margin-bottom: 10px;
  @include borderbox(yes);
  &:nth-child(3n) {
    margin-right: 0;
  }
  .column {
    flex-direction: column;
    .avatar {
      width: 78px;
      margin-bottom: 20px;
    }
    .user {
      text-align: center;
      margin: 0;
      .username {
        margin-bottom: 7px;
      }
    }
  }
  .button,
  .white-button {
    margin-top: 15px;
    min-width: 95px;
  }
}
