.auth {
    width: 100%;
    max-width: $max-page-width;
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    @include breakpoint("phone") {
        margin-top:10px;
    }
    .column {
        width:40%;
        @include breakpoint("phone") {
            &:first-child {
                display: none;
            }
        }
        @include breakpoint("tablet") {
            &:first-child {
                display: none;
            }
        }
        &:last-child {
            width: 35%;
            margin-left: 35px;
            @include breakpoint("phone") {
                width: 100%;
                margin: 0;
            }
            @include breakpoint("tablet") {
                width: 70%;
                margin: 0;
            }
        }
        .white-box {
            padding: 15px;
            @include borderbox(no);
            text-align: center;
            font-size:$normal-font-size;
            @include breakpoint("phone") {
                background-color: transparent;
                border: 0;
            }
            > p {
                margin:15px 0;
                .change-link {
                    cursor: pointer;
                    color: $dark-blue;
                }
            }
        }
        .form-box {
            margin-bottom:10px;
        }
        .app-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:30px;
            .app-store {
                margin-top:30px;
                img {
                    height:40px;
                }
            }
            span {
                font-size: $normal-font-size;
            }
        }
    }
}